.searchArea {
  position: relative;
  margin-bottom: 20px;
  background: #f8f9f9;

  ::v-deep .el-button--small {
    padding-left: 6px;
    padding-right: 6px;
  }

  ::v-deep .operBtn {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .el-form {
    position: relative;
    overflow: hidden;
    height: 64px;
    overflow: hidden;
    padding: 16px 16px 0 16px;
    background: #f8f9f9;
    border-radius: 2px 2px 2px 2px;

    ::v-deep .el-form-item {
      margin-bottom: 16px;
    }
    ::v-deep .el-button + .el-button {
      margin-left: 7px;
    }
    ::v-deep .el-button--mini {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  &.expand {
    .el-form {
      height: auto;
    }
  }

  .toggleBtn {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #a7a9b4;
    border-radius: 0 0 20px 20px;
    padding: 1px 20px;
    color: #fff;
    display: inline-block;
    line-height: 8px;
    bottom: -14px;

    i {
      font-size: 12px;
      font-weight: bold;
    }
  }
}
.table_header_config {
  display: inline-block;
  .vxeTable {
    ::v-deep .vxe-header--row {
      color: #222943 ;
      background-color: #F8F9F9 !important;
    }
    ::v-deep .vxe-table--header .vxe-header--column .vxe-cell {
      font-weight: normal;
    }
    ::v-deep .vxe-footer--column{
      padding: 2px 0;
      color: red;
    }
    ::v-deep .vxe-body--column{
      padding: 0px 0;
      height: 40px !important;
      line-height: normal;
    }
   .todo{
      .el-button{
        position: relative;
        font-size: 14px;
        color: #236DFF;
  
        i {
          display: none;
        }
  
        &+.el-button {
          padding-left: 10px;
  
          &::before {
            width: 1px;
            height: 14px;
            background: #E9EAEC;
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}