
/* 全局通用样式  */ 
/*边距*/
@for $i from 0 through 400 {
	.margin-#{$i}, .m-#{$i} {
		margin: $i + px !important;
		box-sizing: border-box;
	}
	.padding-#{$i}, .p-#{$i} {
		padding: $i + px !important;
		box-sizing: border-box;
	}
	.margin-top-#{$i}, .mt-#{$i} {
		margin-top: $i + px !important;
		box-sizing: border-box;
	}
	.margin-bottom-#{$i}, .mb-#{$i} {
		margin-bottom: $i + px !important;
		box-sizing: border-box;
	}
	.margin-left-#{$i}, .ml-#{$i} {
		margin-left: $i + px !important;
		box-sizing: border-box;
	}
	.margin-right-#{$i}, .mr-#{$i} {
		margin-right: $i + px !important;
		box-sizing: border-box;
	}
	.padding-top-#{$i}, .pt-#{$i} {
		padding-top: $i + px !important;
		box-sizing: border-box;
	}
	.padding-bottom-#{$i}, .pb-#{$i} {
		padding-bottom: $i + px !important;
		box-sizing: border-box;
	}
	.padding-left-#{$i}, .pl-#{$i} {
		padding-left: $i + px !important;
		box-sizing: border-box;
	}
	.padding-right-#{$i}, .pr-#{$i} {
		padding-right: $i + px !important;
		box-sizing: border-box;
	}
}
// 布局类
.disp-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-row-re {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.align-self-start {
  align-self: flex-start
}
.align-self-end {
  align-self: flex-end
}
.align-self-center {
  align-self: center
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}

/* 文字位置 */
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
/* 文字限制行数 */
.u-line-1 {
  overflow: hidden;
	text-overflow: ellipsis;
}

.u-line-2 {
  -webkit-line-clamp: 2;
}

.u-line-3 {
  -webkit-line-clamp: 3;
}

.u-line-4 {
  -webkit-line-clamp: 4;
}

.u-line-5 {
  -webkit-line-clamp: 5;
}

/* 文字大小 */ 
@for $i from 0 through 160{
	.font-size-#{$i}, .fs-#{$i}{
		font-size: $i + px !important;
	}
}
 .fw-600{
	font-weight: 600;
 }
.bg-white{
	background-color: white !important;
}
.posi-relative{
	position: relative;
}