.searchLeft {
  width: calc(100% - 280px);
}

.searchRight {
  width: 280px;
  line-height: 26px;
}

.treeBox {
  padding-top: 10px;
  background-color: #F8F9F9;
  height: 100%;
  overflow: auto;

  .el-tree {
    background: transparent;
    color: #222943;

    .el-tree-node__content {
      border-radius: 4px;
      padding-right: 3px;

      .el-tree-node__label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .el-tree-node__content:hover {
      background-color: #E9EAEC;
    }

    &.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
      background-color: #236DFF;
      color: #fff;

      .el-icon-caret-right {
        color: #fff;
      }
    }
  }

  .el-tree-node>.el-tree-node__children {
    overflow: visible;
  }

  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
  }

}
.form-detail,
.form-table {
  .el-form-item {
    margin-bottom: 5px;

    .el-form-item__label {
      font-family: PingFang SC-Regular, PingFang SC;
      font-weight: 400;
      color: #7A7F8E;
    }

    .el-form-item__content {
      font-family: PingFang SC-Regular, PingFang SC;
      font-weight: 400;
      color: #222943;

      span {
        word-break: break-all;
      }
    }
  }

  &:not(.form-table-edit3) {
    .el-form-item {
      display: flex;

      .el-form-item__label {
        display: flex;
        align-items: center;
      }

      .el-form-item__content {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        margin-left: 0 !important;
      }
    }
  }
}
.form-table {
  .section-card-wrap {
    margin-bottom: 0 !important;
  }

  .el-form-item {
    border-left: 1px solid #E9EAEC;
    border-bottom: 1px solid #E9EAEC;
    margin-bottom: 0;

    .el-form-item__label {
      color: #5a5b5f;
      text-align: left;
      background: #F8F9F9;
      padding-left: 12px;
      border-right: 1px solid #E9EAEC;
    }

    .el-form-item__content {
      color: #4E5469;
      padding: 0 12px;
    }
  }

  .section-card__body {
    .el-row {
      border-right: 1px solid #E9EAEC;

      &:first-child {
        border-top: 1px solid #E9EAEC;
      }
    }

  }
}
.form-table-edit {
  .el-form-item {
    .el-form-item__label {
      padding-top: 8px;
      padding-bottom: 12px;
    }

    .el-form-item__content {
      padding-top: 6px;

      .el-form-item__error {
        top: 70%;
        padding-left: 12px;
      }

      textarea {
        margin-bottom: 10px;
      }
    }

  }

  .noProp-item-input {
    .el-form-item__label {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .noProp-item-textarea {

    .el-form-item__content {
      .el-form-item__error {
        top: 85%;
      }
    }
  }
}
.vxe-modal--box{
  position: absolute !important;
}
.vxe-modal--wrapper{
  position: absolute !important;
}
.vxe-modal--wrapper:before{
  position: absolute !important;
}